*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

img{display: block;
max-width: 100%;
height: auto;
border-radius: 50%;}
.user__img{
    width: 100px;
    height: 100px;
    margin-right: 2vw;
}

.rex{
    font-size: 1.2rem;
    color: black; 
    display: flex;
   
    
}

.usersList{
    margin: 0vh auto;
    max-width: 90%;
    color: black;
    display: flex;
    flex-direction: column;
}

.user{
    
    display: flex;
    padding: 2vh 3vw;
    margin-top: 2vh;
    justify-content:flex-start;
    background-color: rgba(243, 243, 243, 1);
    align-items:center;
}
